extends ../layouts/application.pug

block header
  = t('views.tasks.new.title')

block content
  +formFor()(action=route('tasks') method='post')
    input(id='data_creatorId' name='data[creatorId]' type='hidden' value=currentUserId)
    +input(task, 'name', t('views.tasks.form.name'),errors)(type="text")
    +textarea(task, 'description', t('views.tasks.form.description'), error)
    +select(task, 'statusId', ['name'], t('views.tasks.form.statusId'), statuses, error)
    +select(task, 'executorId', ['firstName', 'lastName'], t('views.tasks.form.executorId'), users, error)
    .mb-3
      label(for="data_labels")= t('views.tasks.form.labels')
      select.form-control#data_labels(name="data[labels]" multiple="multiple")
        each lab in labels
          option(value=lab.id, selected=(task.labels && task.labels.find(({ id }) => id === lab.id) ? 'selected' : false))= lab.name
    +submit(task)(value=t('views.tasks.new.create'))
